<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="7c2100f4-9be0-4c71-813d-2cef4e149f43" activeEnvironment="Default environment" name="REST Project 1" resourceRoot="${projectDir}" soapui-version="6.0.0" encryptionMode="Not encrypted" updated="2.6.0-SNAPSHOT" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7c2100f4-9be0-4c71-813d-2cef4e149f43fileName">REST-Project-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>diff test</con:name>
      <con:value>111111wsr</con:value>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>MySQL Connection</con:name>
      <con:driver>com.mysql.jdbc.Driver</con:driver>
      <con:connectionString>jdbc:mysql://127.0.0.1:3306/world?user=root&amp;password=PASS_VALUE</con:connectionString>
      <con:password>n77_streamas</con:password>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
