<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0f4d825e-205a-4ddc-887c-e62882f92c3e" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0f4d825e-205a-4ddc-887c-e62882f92c3efileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>query</con:name>
      <con:value>city_Name</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
