<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="40e47dbe-c8e6-4f42-91a4-55c9a07433f2" name="Single Request Test Cases" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="40e47dbe-c8e6-4f42-91a4-55c9a07433f2fileName">Single-Request-Test-Cases</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
